---
layout: layout.liquid
title: 11ty Boilerplate
---
let nameList = [Tifa, Aerith, Cloud, Barret, Yuffie, Red, Biggs, Zach, Sephiroth, Jessie]
<h1><button @click = "alert(Randomize)">Click me!</button></h1>
